.control {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.475rem 0.875rem;
  border-radius: var(--mantine-radius-xs);
  color: var(--mantine-color-dimmed);
  text-decoration: none;
  user-select: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.control:hover,
.control:focus-visible {
  background-color: var(--mantine-color-secondary-light-hover);
  border-color: var(--mantine-color-default-border);
}
