.optionCard {
  border-radius: var(--mantine-radius-lg);
  border: 1px solid var(--mantine-color-default-border);
  background-color: var(--mantine-color-default);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--mantine-spacing-lg);
  transition: all 0.2s ease;
  min-height: 100px;
  position: relative;
}
